<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../pages/partials/metatags'); %>
  <title>About | E-Cell</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">

  <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

  <%- include('../pages/partials/header'); %>

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Meet us</h2>
        <p class="mb-4">The Jadavpur University Entrepreneurship Cell was founded with the aim of fostering the spirit of entrepreneurship among the new generation. Our focus has been the establishment of an innovative mindset among the University students, which will help create entrepreneurs and thought leaders who shall play a key role in the progress of our nation's economy.
        </p>
        <p>In the years gone by, we have emerged as a platform to guide creative minds through effective interaction between the student body and esteemed members of the corporate world, including successful entrepreneurs, investors, and venture capitalists. This has enabled transformation of innovative ideas into entrepreneurial ventures.</p>

      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg" src="../assets/images/ecell/ps1.jpeg" alt="office content 1">
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../assets/images/ecell/ew2.jpeg" alt="office content 2">
      </div>
    </div>
  </section>
  <!-- End block -->



  <%- include('../pages/partials/footer'); %>
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>