<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../pages/partials/metatags'); %>
  <title>E-Summit | E-Cell</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">

  <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

  <%- include('../pages/partials/header'); %>

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">E-Summit</h2>
        <div class="flex items-center mb-5">
          <span class="bg-purple-100 text-purple-800 text-md font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Biggest Entrepreneurship Summit of Eastern India</span>
        </div>
        <p class="mb-4">Entrepreneurship Summit is one of the largest entrepreneurship events of eastern India. A wide variety of fixtures are organized, which range from case challenges and design competitions to simulated auctions, simulated stock and cryptocurrency markets, panel discussions by alumni and market personalities and hackathons.
        </p>
        <!-- <p class="mb-4">Our varsity saw the first edition of the event in the year 2016. Since then, we have been serving as the main organizing committee for the same. It is generally organized in the month of November, with the signature "infoseminar" series in the days leading to the main event.</p> -->
        <p>Participants from colleges across the country are a part of the audience, along with judges of national and international repute. Having witnessed many firsts to its credit, E-Summit has served to set new standards for its participants and organizers. For instance, Kolkata's first-ever overnight (30 hrs) hackathon was conducted in E-Summit 2020.</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg" src="../assets/images/esummit/es1.jpeg" alt="office content 1">
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../assets/images/esummit/cs1.jpeg" alt="office content 2">
        <img class="w-full rounded-lg" src="../assets/images/esummit/es3.jpg" alt="office content 2">
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../assets/images/esummit/es4.jpg" alt="office content 2">
      </div>
    </div>
  </section>
  <!-- End block -->

  <!-- Start Problem statements block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white pb-4">Mark your journey</h2>
        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg pb-8">Over the years, we have become increasingly successful at carving out specific calendar slots for three flagship events, which attract most of our collaborations, innovative ideas and footfall.</p>
      </div>


      <div class="max-w-screen-xl px-4 pt-4 pb-8 mx-auto text-center lg:pb-16 lg:pt-8 lg:px-6">
        <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-4 dark:text-white">
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl md:text-4xl font-extrabold">15k+</dt>
            <dd class="font-light text-gray-500 dark:text-gray-400">registrations</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl md:text-4xl font-extrabold">25k+</dt>
            <dd class="font-light text-gray-500 dark:text-gray-400">footfall</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl md:text-4xl font-extrabold">5L+</dt>
            <dd class="font-light text-gray-500 dark:text-gray-400">worth prizes</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl md:text-4xl font-extrabold">50+</dt>
            <dd class="font-light text-gray-500 dark:text-gray-400">corporate partners</dd>
          </div>
        </dl>
      </div>


      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

        <!-- LaunchX -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/launchx.png" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">LaunchX</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A PAN India level fundraising event, LaunchX aims to give an opportunity to launch Start-ups while developing skills. It provides early stage startups the platform to shine and get under the limelight of the ecosystem.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- HackNPitch -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/hacknpitch.png" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">HackNPitch</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">HackNPitch aims to bring young and bright computer programmers to contribute to the digital revolution by applying their knowledge, creativity and competitive coding skills.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- Mock Auction -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/mockiplauction.jpeg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mock Auction</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Mock Auction aims to kindle a spark of critical thinking amongst sports enthusiasts who possess analytical skills and use them to construct the pertinent team using the limited resources available.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- Manager Hustle -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/managerhustle.png" alt="" />
          </a>

          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Manager Hustle</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">'Manager Hustle', an event replicating the original auction. Buckle up to utilise your critical thinking and create your own team with some competent and promising soccer players to get your team storming up the table.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- The Analyst -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/analyst.jpeg" alt="" />
          </a>

          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">The Analyst</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Analyst is a case study challenge which not only uses your analytical skills but also your problem solving and critical thinking skills.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- Mock Stock -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/mockstock.png" alt="" />
          </a>

          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mock Stock</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">MockStock is a dynamic real time stock market event and its main objective is to research a stock in real-time and to forecast its rise or fall.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- Mock Crypto -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/mockcrypto.png" alt="" />
          </a>

          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mock Crypto</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">E-Summit’21 invites you all to a three-week long event where you will trade in a range of different cryptocurrencies. The MockCrypto will provide the real life experience of cryptocurrency trading.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>


        <!-- Inspira Talks -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="rounded-t-lg w-full h-60" src="../assets/images/esummit/logos/inspiratalks.png" alt="" />
          </a>

          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Inspira Talks</h5>
            </a>
            <!-- <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Inspira Talks is an interactive session with distinguished entrepreneurs from different walks of life as they share their first-hand experiences.</p>
            <!-- <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a> -->
          </div>
        </div>



      </div>
    </div>

  </section>
  <!-- End Problem statements block -->

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Glimpses</h2>
        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Over the years, we have become increasingly successful at carving out specific calendar slots for three flagship events, which attract most of our collaborations, innovative ideas and footfall.</p>
      </div>

    </div>

    <div class="mx-auto max-w-screen-xl text-center">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <!-- <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/es2.jpg" alt="">
        </div> -->
        <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/es4.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/es6.jpeg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/es7.jpeg" alt="">
        </div>
        <!-- <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/image-4.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg" src="../assets/images/esummit/image-5.jpg" alt="">
        </div> -->
      </div>
    </div>

  </section>
  <!-- End block -->


  <%- include('../pages/partials/footer'); %>
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>