<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events | E-Cell</title>

  <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

  <%- include('../pages/partials/header'); %>

  <!-- Start block -->
  <!-- <section class="bg-white py-32 md:py-20 lg:py-32">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-4xl font-extrabold tracking-tight text-indigo-600 sm:text-5xl md:text-6xl lg:text-7xl mb-4">Join Us for Exciting Events</h1>
        <p class="text-xl text-gray-400 sm:text-2xl md:text-3xl lg:text-4xl">Explore and engage in our top 3 upcoming events</p>
      </div>
      <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="aspect-w-3 aspect-h-2">
            <img class="object-cover object-center w-full h-full" src="https://via.placeholder.com/500x300" alt="Event 1 Image Placeholder">
          </div>
          <div class="px-6 py-4">
            <h2 class="text-2xl font-bold text-indigo-600 mb-2">Event 1</h2>
            <p class="text-gray-700 text-base truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="px-6 py-4">
            <a href="#" class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full transition duration-300">Learn More</a>
          </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="aspect-w-3 aspect-h-2">
            <img class="object-cover object-center w-full h-full" src="https://via.placeholder.com/500x300" alt="Event 2 Image Placeholder">
          </div>
          <div class="px-6 py-4">
            <h2 class="text-2xl font-bold text-indigo-600 mb-2">Event 2</h2>
            <p class="text-gray-700 text-base truncate">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
          <div class="px-6 py-4">
            <a href="#" class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full transition duration-300">Learn More</a>
          </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="aspect-w-3 aspect-h-2">
            <img class="object-cover object-center w-full h-full" src="https://via.placeholder.com/500x300" alt="Event 3 Image Placeholder">
          </div>
          <div class="px-6 py-4">
            <h2 class="text-2xl font-bold text-indigo-600 mb-2">Event 3</h2>
            <p class="text-gray-700 text-base truncate">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delecti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
          </div>
          <div class="px-6 py-4">
            <a href="#" class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full transition duration-300">Learn More</a>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End block -->

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900 pt-16">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
      <img class="w-full rounded-lg" src="../assets/images/ecell/bgte.jpeg" alt="dashboard image">
      <!-- <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image"> -->
      <div class="mt-4 md:mt-0">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Welcome to JU E-Cell Events Page!</h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Join JU E-Cell's events and connect with like-minded entrepreneurs. Gain knowledge and skills through our guest lectures, pitch competitions and networking events. Register now and be part of a passionate community of innovators.</p>
        <a href="#" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
          Get started
          <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <!-- End block -->

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Flagship Events</h2>
        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Over the years, we have become increasingly successful at carving out specific calendar slots for three flagship events, which attract most of our collaborations, innovative ideas and footfall.</p>
      </div>

      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">


        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="p-4 rounded-t-lg w-auto h-72 mx-auto" src="../assets/images/eweekend-logo.png" alt="product image" />
          </a>
          <div class="px-5 pb-5">
            <a href="#">
              <h5 class="mb-3 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">E-Weekend</h5>
            </a>
            <div class="flex items-center mb-5">
              <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
            </div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Jadavpur University Entrepreneurship Cell is back with the first event of this academic year, the sixth edition of the flagship E-Weekend. This time it's gonna be Bigger, Better and Bolder !</p>

            <a href="/eweekend" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Explore</a>
          </div>
        </div>


        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="p-4 rounded-t-lg w-auto h-72 mx-auto" src="https://juecell.in/websiteassets/hult.jpg" alt="product image" />
          </a>
          <div class="px-5 pb-5">
            <a href="#">
              <h5 class="mb-3 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Hult Prize OnCampus</h5>
            </a>
            <div class="flex items-center mb-5">
              <span class="bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">Biggest Social Entrepreneurship Event</span>
            </div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Hult Prize is the world's largest social entrepreneurship ideation competition, which is organized across institutes in more than 120 countries. The problem statement for the same is announced annually by President Bill Clinton</p>

            <a href="/hult" class="text-white bg-pink-500 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Explore</a>
          </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img class="p-4 rounded-t-lg w-auto h-72 mx-auto" src="../assets/images/esummit21-logo.png" alt="product image" />
          </a>
          <div class="px-5 pb-5">
            <a href="#">
              <h5 class="mb-3 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">E-Summit</h5>
            </a>
            <div class="flex items-center mb-5">
              <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Largest in Eastern India</span>
            </div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">We present you one of the largest entrepreneurial events of Eastern India, E-Summit , which will excite you to battle it out with the best entrepreneurial minds in the country and win it big in life.</p>

            <a href="/esummit" class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-200 dark:focus:ring-indigo-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Explore</a>
          </div>
        </div>




      </div>
    </div>
  </section>
  <!-- End block -->

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white pb-10">Sessions and Webinars</h2>
        <!-- <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Over the years, we have become increasingly successful at carving out specific calendar slots for three flagship events, which attract most of our collaborations, innovative ideas and footfall.</p> -->
      </div>

      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">

          <a href="#">
            <img class="rounded-t-lg" src="https://juecell.in/websiteassets/pic.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Visit to Webel-Fujisoft-Vara, Centre of Excellence</h5>
            </a>

            <div class="flex items-center justify-between pt-8">
              <div class="bottom-3 left-4 ">
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-blue-700 bg-white border border-blue-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">23rd Feb, 2023</a>
              </div>

              <div class="bottom-3 right-4 ">
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Add to Calendar
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>


            </div>

          </div>
        </div>


        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">

          <a href="#">
            <img class="rounded-t-lg" src="https://juecell.in/websiteassets/pic.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Following an unconventional career path through innovation</h5>
            </a>

            <div class="flex items-center justify-between pt-8">
              <div class="bottom-3 left-4 ">
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-blue-700 bg-white border border-blue-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">23rd Feb, 2023</a>
              </div>

              <div class="bottom-3 right-4 ">
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Add to Calendar
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>



            </div>

          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">

          <a href="#">
            <img class="rounded-t-lg" src="https://juecell.in/websiteassets/pic.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white ">How to become the best in the world - Power talk by leadership coach</h5>
            </a>

            <div class="flex items-center justify-between pt-8">
              <div class="bottom-3 left-4 ">
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-blue-700 bg-white border border-blue-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">17th Feb, 2023</a>
              </div>

              <div class="bottom-3 right-4 ">
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Add to Calendar
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>



            </div>

          </div>
        </div>




      </div>
    </div>
  </section>
  <!-- End block -->


  <%- include('../pages/partials/footer'); %>
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>