<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Weekend | E-Cell</title>

  <link rel="stylesheet" href="../assets/css/output.css">
  <style>
    .card p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  </style>
</head>

<body>

  <%- include('../pages/partials/header'); %>

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">E-Weekend</h2>
        <div class="flex items-center mb-5">
          <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Exclusive for Freshers</span>
        </div>
        <p class="mb-4">Jadavpur University Entrepreneurship Cell brings forth E-Weekend, the forum for freshers to enter the world of entrepreneurship, problem solving, team building and networking.
        </p>
        <!-- <p class="mb-4">Our varsity saw the first edition of the event in the year 2016. Since then, we have been serving as the main organizing committee for the same. It is generally organized in the month of November, with the signature "infoseminar" series in the days leading to the main event.</p> -->
        <p>Dotted with fun and learn contests, E Weekend is the cauldron that churns out fresh talent for nurturing new ideas, whetting analytical skills and garnering entrepreneurial excellence.</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1109.jpg" alt="office content 1">
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://juecell.in/websiteassets/newone.jpg" alt="office content 2">
        <img class="w-full rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1173.jpg" alt="office content 2">
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1182.jpg" alt="office content 2">
      </div>
    </div>
  </section>
  <!-- End block -->

  <!-- Start Problem statements block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white pb-4">The forum for freshers to enter the world of entrepreneurship</h2>
        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg pb-8">The weekend hosts an array of events that range from B Plan competitions that drive social impact, to Case Studies that calls for analytical skills.</p>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
          <a href="#">
            <img class="rounded-t-lg w-full h-48" src="https://a.storyblok.com/f/133195/1967x1080/1630490359/web-graphic-challenge.jpg/m/0x0" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">PitchGenix</h5>
            </a>
            <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-500 dark:text-white">Pitch your way to glory</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Glued on to Shark Tank? Have ideas always intrigued you to solve social problems? Do you have it in you to Start Up? Well then, PitchGenix is the place for you. But ideas don’t make unicorns, solid plans and stellar execution does. Take the first step and ideate.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>


        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
          <a href="#">
            <img class="rounded-t-lg w-full h-48" src="https://youcanleadbn.com/wp-content/uploads/2020/11/food-for-good-1280x640.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TechnoKraft</h5>
            </a>
            <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-500 dark:text-white">Develop. Pitch. Win.</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Participants need to build the most useful, financially feasible product (for the target customer base they choose to address) with rational features considering budget, viability and technical sense as pillars of building the product and finally prepare a concise pitch deck based on that.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>


        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
          <a href="#">
            <img class="rounded-t-lg w-full h-48" src="https://pbs.twimg.com/media/EFKesgzWkAEt7uU.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Corporate Devs</h5>
            </a>
            <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-500 dark:text-white">Cruise through Corporate life</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">What makes a person stand tall in the corporate ecosystem? It's his analytical skills and creative bent of mind to tackle challenging situations. Unleash the corporate genius within you. Strategize, bond with like minded people, work in teams, learn and compete to win the final Corporate Hat</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card">
          <a href="#">
            <img class="rounded-t-lg w-full h-48" src="https://pbs.twimg.com/media/EFKesgzWkAEt7uU.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Data Binge</h5>
            </a>
            <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-500 dark:text-white">Binge your way through data</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Data is the new author and it provides us with stories. Now is your chance to create insights out of those figures. Enthusiasts wanting to utilise and develop skills in financial modelling, problem solving capabilities and pitching based on a real world simulation of transaction, look no further than data binge.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Explore More
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>



      </div>
    </div>

  </section>
  <!-- End Problem statements block -->

  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Glimpses</h2>
        <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Over the years, we have become increasingly successful at carving out specific calendar slots for three flagship events, which attract most of our collaborations, innovative ideas and footfall.</p>
      </div>

    </div>

    <div class="mx-auto max-w-screen-xl text-center">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/databinge23.jpg" alt="">
        </div>
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1182.jpg" alt="">
        </div>
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1109.jpg" alt="">
        </div>
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/eweekend7.JPG" alt="">
        </div>
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/newone.jpg" alt="">
        </div>
        <div>
          <img class="h-64 w-full object-cover rounded-lg" src="https://juecell.in/websiteassets/Eweekend23-1173.jpg" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End block -->


  <%- include('../pages/partials/footer'); %>
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>